body {
    background-color: #f5f5f5;
    padding-top: 120px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

hr {
    color: #ddd;
}

header {
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
}

header a {
    color: black;
    text-decoration: none;
}

header ul {
    padding: 0;
}

header li {
    display: inline-block;
    text-decoration: none;
}

.menu-link, 
.story-comments {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#root {
    margin: 0 5px;
}

.story-panel {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.story-title {
    color: black;
}

.story-date,
.story-comments {
    float: right;
}

.comment-pane {
    background-color: white;
}